/* Footer.css */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #007E85; /* Cyan */
  padding: 2rem 1rem;
  width: 100%;
  color: white;
}

.footer-content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1228px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer-branding {
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top:-7.8rem;
}

.footer-logo-image {
  width: 55px;
  aspect-ratio: 1.1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
}

.footer-logo-health {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-logo-care {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

.footer-copyright {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.75rem;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer-link {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

.footer-social {
  align-items: flex-start;
}

.footer-social-link {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
  align-items: center;
}

.footer-social-icon {
  width: 24px;
  aspect-ratio: 1;
}
