/* Navbar.css */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px;
  background-color: #F1F5F8;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  width: 55px;
  height: auto;
}

.navbar-logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.navbar-logo-health {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4caf50; /* Adjust color as needed */
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-link {
  font-size: 1.25rem;
  color: #000000; /* Adjust color as needed */
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: #007E85; /* Adjust color as needed */
}

.navbar-signup, .navbar-login {
  margin-left: 15px;
  color:white;
}

.navbar-login {
  background-color: #007E85; /* Adjust color as needed */
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-login:hover {
  background-color: #4CAF50; /* Adjust color as needed */
}
